<div>

    <app-shoppingcart-product></app-shoppingcart-product>

    <!-- <div>
      <div class="p-3 d-flex justify-content-center align-items-center">
        <div class="d-flex align-items-center">Din kundvagn är tom</div>
      </div>
    </div> -->



    <div class="p-2 d-flex justify-content-between align-items-center">
        <div class="ml-2">
            <div class="total-price">
                Totalt:
                <span class="ml-1"> SEK</span>
            </div>
            <small class="text-muted">inkl. moms</small>
        </div>

        <button class="btn btn-info">Gå till Kassan</button>

    </div>
</div>