<div (click)="$event.stopPropagation()">

  <app-shoppingcart-product *ngFor="let item of shoppingcart | async" [item]="item"></app-shoppingcart-product>

  <div *ngIf="(shoppingcart | async).length === 0">
    <div class="p-3 d-flex justify-content-center align-items-center">
      <div class="d-flex align-items-center">Your cart is empty</div>
    </div>
  </div>

  <div class="dropdown-divider"></div>


  <div class="p-2 d-flex justify-content-between align-items-center">
    <div class="ml-2">
      <div class="total-price">
        Totalt: {{ totalPrice }} SEK
      </div>
      <small class="text-muted">inkl. moms</small>
    </div>

    <button class="btn btn-info">checkout</button>
  </div>

</div>